<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload stylesheet" as="style" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include("../partials/header") %> 
    <%- body %>
</body>
</html>