<div class="wrapper">
    <h1 class="title"><%= title %></h1>
    <h2 class="topics-header">Topics</h2>
    <ul class="topics-list">
      <li class="topics__item">Gaming</li>
      <li class="topics__item">Movies</li>
      <li class="topics__item">Sports</li>
    </ul>
    <section class="messages">
      <ul class="messages__list">
        <% for (let message of messages) { %>
          <li class="messages__list__item">
            <h3 class="messages__list__item__author"><%= message.name %></h3>  
            <p class="messages__list__item__para"><%= message.message %></p>
            <p class="messages__list__item__date"><%= message.createdAt %></p>
          </li>
        <% } %>
      </ul>
    </section>
  </div>