<div class="wrapper">
    <h1 class="title">Add a Message</h1>
    <form method="POST" action="/new-message" class="form">
        <div class="form__field">
            <label class="form__label" for="name">Name: </label>
            <input type="text" class="form__input" id="name" name="name" required>
        </div>
        <div class="form__field">
            <label class="form__label" for="message">Message: </label>
            <input type="text" class="form__input" id="message" name="message" required>
        </div>
        <div class="form__field">
            <input type="hidden" class="form__input" id="topic" name="topic">
        </div>
        <div class="form__field">
            <input type="submit" class="form__submit" value="Add">
        </div>
    </form>
</div>