* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  button,
  input {
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: #fefefe;
  }
  
  a {
    color: #222;
  }
  
  /* Both views */
  .nav {
    padding: 2.5rem;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border-bottom: 3px solid #90cdf4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  }
  
  .nav__link:first-of-type {
    margin-right: 1.25rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  
  .title {
    font-weight: 400;
    margin: 3rem 0 2.25rem 0;
  }
  
  /* Index styles */
  .messages {
    width: 50rem;
    max-width: 90%;
    padding: 2rem 3.5rem;
    background-color: hsl(210, 38%, 96%);
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
  }
  
  .messages__list {
    list-style: none;
  }
  
  .messages__list__item {
    margin: 1.75rem 0 1.75rem 0;
  }
  
  .messages__list__item__author {
    margin-bottom: .4rem;
    margin-right: .75rem;
    display: inline-block;
  }
  
  .messages__list__item__para {
    display: inline-block;
  }
  
  .messages__list__item__date {
    font-size: .825rem;
    color: #888;
  }
  
  /* Form Styles */
  .form {
    width: 50rem;
    max-width: 90%;
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .form__label {
    margin-bottom: .75rem;
  }
  
  .form__input {
    font-size: 1rem;
    padding: .65rem;
    background-color: hsl(214, 32%, 92%);
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  .form__input:focus {
    box-shadow: 0 1px 8px #63b3ed;
  }
  
  .form__submit {
    align-self: flex-start;
    padding: .75rem 2.35rem;
    font-size: 1.1rem;
  
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #7F9CF5;
    color: #fff;
  }
  
  @media screen and (max-width: 34.5em) {
    .title {
      margin: 1.75rem 0 1.5rem 0;
      font-size: 1.5rem;
    }
  
    .messages {
      padding: 1rem 1.75rem;
    }
  
    .form__submit {
      font-size: 1rem;
    }
  }