* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --dark-blue: #0c4a6e;
  }

  body,
  button,
  input {
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: #1E293B;
  }

  .btn {
    padding: .8125rem 1.25rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .0625em;
    font-weight: 700;
    text-decoration: none;
    background-color: #6366f1;
    color: #fff;
  }
  
  /* Both views */
  .nav {
    padding: 2.5rem;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border-bottom: 3px solid #7dd3fc;
    box-shadow: 0 2px 4px hsla(199, 95%, 74%, .25);
  }
  
  .nav__link:first-of-type {
    margin-right: 1.25rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .messages-wrapper {
    max-width: 48rem;
    width: 90%;
  }
  
  .title {
    margin: 3rem 0 2.25rem 0;
    font-weight: 400;
    color: #0284C7;
  }

  .topics-title {
    margin-bottom: .5rem;
    color: #475569;
  }

  .topics-list {
    display: flex;
    gap: .875rem;
    margin-bottom: 2rem;
    list-style: none;
  }

  .topics__item__link {
    display: inline-block;
    padding: .5rem;
  }
  
  .add-message-btn {
    margin-bottom: 1rem;
    display: inline-block;
  }
  
  /* Index styles */

  .messages {
    padding: 2rem 3.5rem;
    background-color: #f1f5f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  }
  
  .messages__list {
    list-style: none;
  }
  
  .messages__list__item {
    margin: 1.75rem 0 1.75rem 0;
  }
  
  .messages__list__item__author {
    margin-bottom: .4rem;
    margin-right: .75rem;
    display: inline-block;
  }
  
  .messages__list__item__para {
    display: inline-block;
  }
  
  .messages__list__item__date {
    font-size: .825rem;
    color: hsl(215, 19%, 43%);
  }
  
  /* Form Styles */
  .form {
    width: 50rem;
    max-width: 90%;
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .form__label {
    margin-bottom: .75rem;
  }
  
  .form__input {
    font-size: 1rem;
    padding: .65rem;
    background-color: hsl(214, 32%, 92%);
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  .form__input:focus {
    box-shadow: 0 1px 8px #63b3ed;
  }
  
  .form__submit {
    align-self: flex-start;
  
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  @media screen and (max-width: 34.5em) {
    .title {
      margin: 1.75rem 0 1.5rem 0;
      font-size: 1.5rem;
    }
  
    .messages {
      padding: 1rem 1.75rem;
    }
  
    .form__submit {
      font-size: 1rem;
    }
  }